.selector-for-some-widget {
  box-sizing:content-box;
}

.card-header{
  background-color: aqua;
  width: auto;
  height: inherit;
}

p {
  margin-top:5px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}